@font-face { font-family: Delicious; src: url('Delicious-Roman.otf'); } 
@font-face { font-family: Delicious; font-weight: bold; src: url('Delicious-Bold.otf'); }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
  }
  body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
    color: #888;
  }
.title-content {
  text-align: center;
  padding-top:36px;
}
.header-background {
    padding: 20px 16px;
    background: white;
    background: linear-gradient(3deg, white 20%, #707070 20.4%);
    text-align: center;
} 
.header-1 {
    text-align: center;
    font: normal normal normal 18px/20px Helvetica ;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    
} 
.header-2 {
    text-align: center;
    font: normal normal bold 36px/40px Helvetica;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    
}
.header-3 {
    text-align: center;
    font: normal normal normal 12px/14px Helvetica ;
    letter-spacing: 0px;
    color: #FFFFFF;
    opacity: 1;
    padding-top: 10px;
}
.buttons-header {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding-top: 24px;
}
.btn-header {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 6px #00000029;
    border: 1px solid #707070;
    border-radius: 4px;
    opacity: 1;

}
.text-header {
    text-align: center;
    font: normal normal normal 14px/16px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;

    padding: 10px 35px 10px 35px;
}
main {
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 36px;
}
.conteudo-1 {
    display: flex;
    flex-direction: row;
}
.text-conteudo-1 {
    text-align: left;
    font: normal normal normal 20px/24px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
    padding-bottom: 24px;
}
.text-conteudo-2 {
    text-align: left;
    font: normal normal normal 12px/18px Helvetica;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
.form-1 {
    margin: 0px 100px 0 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-form-1 {
    text-align: left;
    font: normal normal normal 12px/14px Helvetica Neue;
    letter-spacing: 0px;
    color: #888888;
    opacity: 1;
}
.check {
    display: flex;
    flex-direction: row;
    gap: 15px;
}
.form-btn {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  color: #888888;
  border-radius: 4px;
  opacity: 1;
  padding: 6px;
}
.products {
    display: flex;
    flex-direction: row;
}
.title-fotter {
  padding-top: 30px;
}

.hr-fotter {
  padding: 24px;
  justify-content: center;
  text-align: center;

}
.form-friend {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
  justify-content: space-between;
  gap: 10px;
  text-align: center;
}
.send-friend-1 {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  
}
.send-friend-2 {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
}
.form-btn-fotter {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #707070;
  color: #888888;
  border-radius: 4px;
  opacity: 1;
  padding: 6px 54px 6px 54px;
}
.rodape {
  padding: 158px 0 16px;
  background: #707070;
  background: linear-gradient(-3deg, #707070 71%, white 71.4%);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.container {
  width: calc(100% - 32px);
  max-width: 920px;
  margin: 0 auto 90px;
}

[class*="container grid-column"] {
  display: grid;
  gap: 30px 60px;
  grid-template-columns: 520px auto;
}
[class*="container grid-column"] .container__textual-content .container__textual-content__title {
  font-weight: 400;
}
[class*="container grid-column"] .container__textual-content .container__textual-content__description {
  line-height: 1.5;
}
.text-center {
  align-items: center;
  text-align: center;
}
.page__footer {
  padding: 158px 0 86px;
  background: #707070;
  background: linear-gradient(-3deg, #707070 71%, white 71.4%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page__footer * {
  font-size: 12px;
}
.grid-products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding-top: 40px;
}
.grid-products .product {
  width: 200px;
  margin-bottom: 40px;
}
.grid-products .product figure {
  margin: 0 0 10px;
}
.grid-products .product figure img {
  width: 200px;
  height: 150px;
}
.grid-products .product .product__title {
  font-size: 14px;
  margin-bottom: 10px;
}
.grid-products .product .product__description {
  margin: 0 0 12px;
}
.grid-products .product .product_atual_price {
  font-size: 16px;
}
.grid-products .product .product_payment_form {
  margin: 0 0 15px;
}
.button {
  background-color: #fff;
  display: inline-block;
  padding: 10px;
  text-align: center;
  color: #888;
  border: 1px solid #707070;
  border-radius: 4px;
}

.button-small {
  padding: 8px;
}

.button-large {
  width: 260px;
}

@media only screen and (max-width: 768px) {
  * {
    text-align: center;
  }
  body {
    padding: auto;
  }
  .buttons-header {
    flex-direction: row;
    flex-wrap: wrap;
    
  }
  main {
    padding: 0;
  }
  .conteudo-1 {
    display: flex;
    flex-direction: column;
  }
  .text-conteudo-1{
    width: 100%;
    margin-right: 0;
  }
  .form-1 {
    width: 100%;
    margin: 0;
  }
  .form-friend{
    flex-direction: column;
  }
}